In [1]:
print("Hello World")

Hello World

In [2]:
if 5>2:
    print("yes")

yes

In [3]:
x =5
y = "sally"
print(x)
print(y)

5
sally

In [4]:
x = 3
y = 4
z = x+y
z

7

In [5]:
x=float(3)
y=int(4)
z=x+y
z

7.0

In [6]:
x, y, z = "Money","cars","house"
print(x)
print(y)
print(z)

Money
cars
house

In [7]:
fruits = ["apple", "banana", "cherry"]
x,y,z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [8]:
x = "ebuka "
y = "is "
z = "awesome "
print(x + y + z)

ebuka is awesome

In [9]:
x = 5
y = "ebuka"
print(x, y)

5 ebuka

In [10]:
x = "ebuka"
def myfunc():
    print("i am " + x)
myfunc()

i am ebuka

In [11]:
def myfunc():
    y="great"
    print("i am " + y)
myfunc()
print("i am " + y)

i am great
i am ebuka

In [12]:
import random
random.randrange(1,10)

1

In [9]:
import random
random.randrange(1,10)

8

In [13]:
a = "Hello World"
print(a[6])

W

In [14]:
for x in "hello":
    print(x)

h
e
l
l
o

In [15]:
Name = "Ebuka"
Age = 28
Colour = "Black"
print("my name is", Name, "i am", Age, "my favourite colour is", Colour )

my name is Ebuka i am 28 my favourite colour is Black

In [16]:
NewAge = Age + 5
print(NewAge)

33

In [17]:
print("in 5 years", "i will be", NewAge, "years old")

in 5 years i will be 33 years old

In [21]:
print("My name is", Name,",", "i am", Age, "my favourite colour is", Colour, "in 5 years", "i will be", NewAge, "years old")

My name is Ebuka , i am 28 my favourite colour is Black in 5 years i will be 33 years old

In [3]:
print(f" my name is {Name}")

 my name is ebuka

In [2]:
Name=input("please put in your name:")
Age=input("please put in your age:")
Favcolour=input("put your Fav colour:")
print(f" my name is {Name}, i am {Age} years old and my fav colour is {Favcolour}")

please put in your name: ebuka
please put in your age: 27
put your Fav colour: green

 my name is ebuka, i am 27 years old and my fav colour is green

In [10]:
name=str(input("please put in your name:"))
age=int(input("please your age:"))
favcolour=str(input("please your favcolour:"))
print(f" my name is {name}, i am {age} years old and my fav colour is {favcolour}")

please put in your name: 123
please your age: 34
please your favcolour: 34

 my name is 123, i am 34 years old and my fav colour is 34

In [2]:
# Building a calculator 
# Program that allows users to input 2 values, then calculate the sum, difference, product and division, then print the results of each operations
x = int(input("enter unknown no"))
y = int(input("enter unknown no"))
sum = x+y
diff = x-y
product = x*y
division = x/y
print(sum)
print(diff)
print(product)
print(division)

enter unknown no 6
enter unknown no 9

15
-3
54
0.6666666666666666

In [1]:
## Slicing strings
b = "hello, world!"
print(b[1:4])

ell

In [2]:
import random
random.randrange(5,20)

16

In [3]:
a = "hello world!"
a[(random.randrange(0,10)):(random.randrange(0,10))]

'llo '

In [4]:
# Modify strings
a.upper()

'HELLO WORLD!'

In [5]:
a=a.upper()

In [6]:
a

'HELLO WORLD!'

In [7]:
a.replace("H", "Y")

'YELLO WORLD!'

In [2]:
"welcome". upper()

'WELCOME'

In [12]:
a = "Hello \"World\""

In [10]:
a

'Hello "World" '

In [13]:
# Boolean
2>4

False

In [18]:
a = 33
b = 44
if a > b:
    print("connected")
else:
    print("now u know")

now u know

In [28]:
x=4
x == 2

False

List =[   ]
Tupple = (  )
Set = {   }
Dictionary = {k:p}

In [ ]:
age = [22, 33, 83,11, '

In [1]:
# Write a python program that stores the age of 10 students and then
# (1). sum up all the ages. Print the reults of the added ages and the multiplied ages
ages = [10, 20, 16, 15, 14,19,12, 13, 11,18]

sum(ages)

148

In [6]:
ages = [10, 20, 16, 15, 14,19,12, 13, 11,18]
Total_age = 1
for i in ages:
    Total_age *= i

In [4]:
Total_age

394377984000

In [52]:
lucky_num = random.randrange(0,10)

In [53]:
lucky_num

6

In [4]:
import random
lucky_num = random.randrange(0,10)
Player_num = int(input("kindly input your lotto:"))
if Player_num == lucky_num:
    print("congratulations, you have won!:")
else: 
    print("please try again:")

kindly input your lotto: 6

please try again:

In [1]:
import random
lucky_number = random.randrange(0,10)

In [3]:
lucky_number

2

In [7]:
import random
lucky_number = random.randrange(0,10)
player_number = int(input("choose a number"))
if player_number == lucky_number:
    print("you are a winner!:")
else:
    print("sorry, try again:")

choose a number 4

sorry, try again:

In [13]:
lucky_number = random.randrange(5,20)
player_num = int(input("pick"))
if player_num == lucky_number:
    print("lets gooooo:")
else:
    print("na who give up, fuck up")

pick 25

na who give up, fuck up

In [10]:
random.randrange(1,10)

3

In [25]:
l_n=random.randrange(2,5)
p_n=input("choose")
if p_n==l_n:
    print("won")
else:
    print("no")

choose 4

no

In [2]:
birth_year = input("your birth year")
age = 2024 -int(birth_year)
print(age)

your birth year 1997

27

In [5]:
x = 10.1
y = 20
sum = float(x) + int(y)
print(sum)

30.1

In [7]:
course = "python for beginners"
print(course.upper())

PYTHON FOR BEGINNERS

Data Structures
-List is a square bracket. it is changeable, allows duplicate, ordered.
-Tuple is ordered, unchangeable, allows duplicate.
-Set is unordered, unchangeable and unindexed, no duplicate member
-Dictionary is ordered, changeable, no duplicate member
pandas
string methods
pip install nbclassic
jupyter nbclassic
"change"

In [2]:
my_list = ["ruth", "donald", "dominion", "emeka", "feranmi", 12, "sandra"]

In [3]:
type(my_list)

list

In [13]:
len(my_list[1])

6

In [ ]:
my_list[(len(my_list)-1)]

In [14]:
my_items = [["orange","banana"], ["car","house"], ["laptop", "phone"], "sandra", 50]

In [15]:
type(my_items)

list

In [16]:
my_items[0]

['orange', 'banana']

In [ ]:
import random
x = random.randrange(my_items)
print(x)

In [32]:
my_list

['ruth', 'donald', 'dominion', 'emeka', 'feranmi', 12, 'sandra']

In [34]:
my_list[3] = "ebuka"

In [35]:
my_list

['ruth', 'donald', 'dominion', 'ebuka', 'feranmi', 12, 'sandra']

In [53]:
my_list.insert(2, "oladele")

In [58]:
print(my_list)

['ruth', 'donald', 'oladele', 'oladele', 'DOMINION', 'EBUKA', 'p', 'e', 'r', '(', ')', 'feranmi', 12, 'sandra', ['orange', 'banana'], ['car', 'house'], ['laptop', 'phone'], 'sandra', 50]

append will add into a list to the last position

In [55]:
my_list.extend(my_items)

In [59]:
print(my_list)

['ruth', 'donald', 'oladele', 'oladele', 'DOMINION', 'EBUKA', 'p', 'e', 'r', '(', ')', 'feranmi', 12, 'sandra', ['orange', 'banana'], ['car', 'house'], ['laptop', 'phone'], 'sandra', 50]

In [60]:
tropical = ("mango", "banana", "orange", "apple")

In [63]:
my_list.extend(tropical)

In [66]:
print(my_list)

['ruth', 'donald', 'oladele', 'oladele', 'DOMINION', 'EBUKA', 'p', 'e', 'r', '(', ')', 'feranmi', 12, 'sandra', ['orange', 'banana'], ['car', 'house'], ['laptop', 'phone'], 'sandra', 50, 'mango', 'banana', 'orange', 'apple', 'mango', 'banana', 'orange', 'apple']

In [75]:
my_list.pop(6)

'e'

In [77]:
print(my_list)

['ruth', 'donald', 'oladele', 'oladele', 'DOMINION', 'EBUKA', 'r', '(', ')', 'feranmi', 12, 'sandra', ['orange', 'banana'], ['car', 'house'], ['laptop', 'phone'], 'sandra', 50, 'mango', 'banana', 'orange', 'apple', 'mango', 'banana', 'orange', 'apple']

In [80]:
del my_list[6:10]

In [82]:
print(my_list)

['ruth', 'donald', 'oladele', 'oladele', 'DOMINION', 'EBUKA', 12, 'sandra', ['orange', 'banana'], ['car', 'house'], ['laptop', 'phone'], 'sandra', 50, 'mango', 'banana', 'orange', 'apple', 'mango', 'banana', 'orange', 'apple']

In [85]:
my_list.remove(12)

In [93]:
print (my_list)

['ruth', 'donald', 'oladele', 'oladele', 'DOMINION', 'EBUKA', 'sandra', ['orange', 'banana'], ['car', 'house'], ['laptop', 'phone'], 'sandra', 50, 'mango', 'banana', 'orange', 'apple', 'mango', 'banana', 'orange', 'apple']

In [89]:
my_items

[['orange', 'banana'], ['car', 'house'], ['laptop', 'phone'], 'sandra', 50]

In [91]:
my_items.clear()

In [92]:
my_items

[]

In [7]:
fruits = [("apple"), ("orange"), ("banana"), ("pineapple")]
prices = (input(f"enter the price of a fruit in fruits: $"))

enter the price of a fruit in fruits: $ 6

In [8]:
fruits = [("apple",3.50), ("orange",3.10), ("banana",4.50), ("pineapple",5.00)]
len(fruits)

4

In [9]:
print(f"total no of fruits: {fruits}")

total no of fruits: [('apple', 3.5), ('orange', 3.1), ('banana', 4.5), ('pineapple', 5.0)]

In [10]:
for fruit, price in fruits:
    print(f"{fruit}: ${price}")

apple: $3.5
orange: $3.1
banana: $4.5
pineapple: $5.0

In [16]:
import pandas as pd

In [ ]:
my_data = pd.dataframe(my_list, column

In [26]:
fruits = ["apple", "orange", "banana", "pineapple"]
newlist = []
for x in fruits:
    if "p" in x:
        newlist.append(x)

In [27]:
newlist

['apple', 'pineapple']

In [30]:
fruits

['apple', 'orange', 'banana', 'pineapple']

In [31]:
my_tuple = fruits

In [32]:
my_tuple

['apple', 'orange', 'banana', 'pineapple']

In [ ]:
fruits1 = list(my_tuple)

In [37]:
thisdict = {"brand":"ford", "model":"mustang", "year": 1964, "year": 2020, "year": 1960}

In [38]:
thisdict

{'brand': 'ford', 'model': 'mustang', 'year': 1960}

In [43]:
thisdict["model"]

'mustang'

In [46]:
thisdict.values()

dict_values(['ford', 'mustang', 1960])

In [47]:
thisdict["year"]=2024
thisdict

{'brand': 'ford', 'model': 'mustang', 'year': 2024}

In [49]:
thisdict.update({"color":"red"})

In [50]:
thisdict

{'brand': 'ford', 'model': 'mustang', 'year': 2024, 'color': 'red'}

GITHUB

In [3]:
students_scores = {"ebuka": 90, "faith": 80, "elon": 87, "gilmore": 95, "trump": 79}
students_scores

{'ebuka': 90, 'faith': 80, 'elon': 87, 'gilmore': 95, 'trump': 79}

In [71]:
#for name, score in students_scores:

In [4]:
students_scores[input("Please input student name: ")]

Please input student name:  ebuka

90

In [5]:
input("Please input student name: ")

Please input student name:  elon

'elon'

In [6]:
scores = students_scores.values()
scores

dict_values([90, 80, 87, 95, 79])

In [7]:
sum(scores)

431

In [10]:
len(scores)

5

In [40]:
invited_guest = {'mike', 'ribery', 'olmo', 'jessy', 'gbemiga', 'ore', 'esther', 'ebuka', 'jacklyn', 'jessica', 'jenny', 'mary', 'ruth'}
arrived = []
for guest in invited_guest:
    if ('e') in guest:
         arrived.append(guest)

In [41]:
arrived

['mike',
 'jessica',
 'esther',
 'jessy',
 'jenny',
 'gbemiga',
 'ore',
 'ribery',
 'ebuka']

In [37]:
invited_guest = [input('please guest name')]

please guest name ruth

In [57]:
##KNOW: FUNCTIONS, BOOLEAN

In [63]:
a =set()
type(a)

set

In [114]:
def magic():
    number = int(input('num'))
    if number%2 == 0:
        print("is even")
    else:
        print("is odd")

In [115]:
magic()

num 45

is odd

In [117]:
def prime():
    number = int(input('num'))
    if number/number == 1:
        print('is prime')
    else:
        print('is an intruder')

prime()

In [118]:
### ASCII

In [70]:
def guest_checker():
    invited_guests = {'mike', 'ribery', 'olmo', 'jessy', 'gbemiga', 'ore', 'esther', 'ebuka', 'jacklyn', 'jessica', 'jenny', 'mary', 'ruth'}
    arrived_guests = set()
    print("input guest name and type finished when you are done")
    while True:
        name = input("kindly input the guest name: ")
        if name in invited_guests:
            arrived_guests.add(name)
        elif name not in invited_guests:
            print("not invited")
        if name == "done":
            break
guest_checker()

input guest name and type finished when you are done

kindly input the guest name:  mike
kindly input the guest name:  ebuka
kindly input the guest name:  jessica
kindly input the guest name:  jennifer

not invited

kindly input the guest name:  jennyy

not invited

kindly input the guest name:  done

not invited

In [65]:
invited_guests =  {'mike', 'ribery', 'olmo', 'jessy', 'gbemiga', 'ore', 'esther', 'ebuka', 'jacklyn', 'jessica', 'jenny', 'mary', 'ruth'}
arrived_guests = set()
while True:
    name = input("kindly input the guest name(done to quit): ")
    if name in invited_guests:
        arrived_guests.add(name)
    elif name not in invited_guests:
        print("not invited")
    if name == "done":
        break
print("The invited guests are:")
for name in arrived_guests:
    print(name)

kindly input the guest name(done to quit):  mike
kindly input the guest name(done to quit):  olmo
kindly input the guest name(done to quit):  danny

not invited

kindly input the guest name(done to quit):  gbemiga
kindly input the guest name(done to quit):  ebuka
kindly input the guest name(done to quit):  done

not invited
The invited guests are:
ebuka
gbemiga
mike
olmo

In [1]:
# Function to check if a number is prime
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# List to store prime numbers
prime_numbers = []

# Loop through numbers 1 to 100
for number in range(1, 101):
    if is_prime(number):
        prime_numbers.append(number)

# Print the prime numbers
print("Prime numbers between 1 and 100:", prime_numbers)

Prime numbers between 1 and 100: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
Prime numbers between 1 and 100:
prime_numbers = []

In [11]:
my_char = 'python'
app = []
for chars in my_char:
    app.append(chars)
print(app)

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
# for each

In [19]:
p_t = ['walk', 'talk', 'sit', 'look', 'puck']
past_t = []
for i in p_t:
    past_t.append(i +'ed')
print(past_t)

['walked', 'talked', 'sited', 'looked', 'pucked']

In [34]:
nums = '30 20 40 22 66 839 34'
nums = nums.split()
print(nums)

['30', '20', '40', '22', '66', '839', '34']

In [36]:
nums_int = []
for i in nums:
    nums_int.append(int(i))
newzy = nums_int

In [38]:
newzy

[30, 20, 40, 22, 66, 839, 34]

In [39]:
sum(newzy)

1051

In [42]:
average = sum(newzy)/len(newzy)

In [43]:
average

150.14285714285714

In [2]:
original_str = 'i am ebuka and this year would be good'
original_str = original_str.split()
print(original_str)

['i', 'am', 'ebuka', 'and', 'this', 'year', 'would', 'be', 'good']

In [3]:
len_str =[]
for i in original_str:
    len_str.append(len(i))
len_str

[1, 2, 5, 3, 4, 4, 5, 2, 4]

In [4]:
items_with_a = []
for i in original_str:
    if 'a' in i:
        items_with_a.append(i)
items_with_a

['am', 'ebuka', 'and', 'year']

In [7]:
items_with_a_i = []
for i in original_str:

SyntaxError: incomplete input (3817199735.py, line 3)

In [58]:
rainfall_mi = '1.30, 1.65, 2.05, 3.03, 3.35, 3.46, 2.83, 3.23, 3.5, 2.52, 2.8, 1.85'
rainfall_mi = rainfall_mi.split(',')

In [51]:
rainfall_mi

['1.30',
 ' 1.65',
 ' 2.05',
 ' 3.03',
 ' 3.35',
 ' 3.46',
 ' 2.83',
 ' 3.23',
 ' 3.5',
 ' 2.52',
 ' 2.8',
 ' 1.85']

In [59]:
rainfall_mi = [float(i) for i in rainfall_mi]
rainfall_mi

[1.3, 1.65, 2.05, 3.03, 3.35, 3.46, 2.83, 3.23, 3.5, 2.52, 2.8, 1.85]

In [62]:
rainy_months = []
for i in rainfall_mi:
    if i>3:
        rainy_months.append(i)
len(rainy_months)

5

In [17]:
stopwords = ['to', 'a', 'for', 'by', 'an', 'am', 'the', 'so', 'it', 'and', 'The']
org = 'The organisation for health, safety and education'

In [18]:
org = org.split()
org

['The', 'organisation', 'for', 'health,', 'safety', 'and', 'education']

In [19]:
keywords = []
for i in org:
    if i not in stopwords:
        keywords.append(i)
keywords

['organisation', 'health,', 'safety', 'education']

In [24]:
acro = ''
for i in keywords:
    acro += i[0].upper()
acro

'OHSE'

In [ ]:
# object oriented programming

In [8]:
#Billing System

In [1]:
name = apple
price = 1.50
quantity = 3

name = bread
price = 3.50
quantity = 2

sales_tax = 7.5%
total = price * quantity
print(name, 'is', price )

SyntaxError: invalid syntax (876705177.py, line 9)

In [25]:
#   OOP IN PTHON

In [63]:
class Rectangle:
    def __init__(self, length, breath):
        self.length = length
        self.breath = breath
    def perimeter(self):
        return 2*(self.length + self.breath)
    def area(self):
        return self.length * self.breath
    def __str__(self)
        return'the perimeter of the rectangle is {}'. format(Rectangle.perimeter(self)) (Rectangle.area(self))

In [64]:
rect1 = Rectangle(5,6)
rect2 = Rectangle(6,7)
print(rect1)
print(rect2)

<__main__.Rectangle object at 0x000001F696319250>
<__main__.Rectangle object at 0x000001F6963BBA10>

In [80]:
print(Rectangle.perimeter(rect1))
print(Rectangle.area(rect1))

22
30

In [83]:
print(Rectangle.perimeter(rect2))
print(Rectangle.area(rect2))

26
42

In [84]:
def __str__(self):
    return'the perimeter of the rectangle is{}, area is {}'. format(Rectangle.perimeter(self)), (Rectangle.area(self))
print(rect1)
print(rect2)

<__main__.Rectangle object at 0x000001F696319250>
<__main__.Rectangle object at 0x000001F6963BBA10>

In [ ]:
whose constructor accepts a str and float as .
Test 1 = blue, price = 89.99
Test 2 = purple, price = 25.0

In [3]:
class Bike:
    def __init__(self, color, price):
        self.color = str(color)
        self.price = float(price)

Test1 = Bike('blue', 89.99)
Test2 = Bike('purple', 25.0)

In [ ]:
#create a class calle

In [4]:
class Student:
    def __init__(self, name, matric_num, gpa):
        self.name = name.title()
        self.matric_num = matric_num.upper()
        self.gpa = list(map(float, gpa.split(' ')))

    def department(self):
        self.dept = self.matric_num[:3].upper()
        return self.dept

    def cgpa(self):
        self.my_cgpa = sum(self.gpa)/len(self.gpa)
        return self.my_cgpa

    def degree_class(self):
        if self.my_cgpa >= 4.5:
            return 'First Class'
        elif self.my_cgpa >=3.5<4.5:
            return 'Second Class Upper'
        elif self.my_cgpa >=2.5<3.5:
            return 'Second Class Lower'
        else:
            return 'Third Class'

    def __str__(self):
        return f"Hello {self.name} with matric number {self.matric_num}, Department of {Student.department(self)}: Your CGPA is {Student.cgpa(self):.2f} leading to {Student.degree_class(self)} class of degree"

In [7]:
std1 = Student(str(input('kindly input your name: ')),
               str(input('kindly input your matric number: ')),
               (input('kindly input your gpa per ll separated by space: '))
)

print(std1)

kindly input your name:  bright ebuka
kindly input your matric number:  f/hd/19/3440045
kindly input your gpa per ll separated by space:  4.09 4.5 4.9 3.99

Hello Bright Ebuka with matric number F/HD/19/3440045, Department of F/H: Your CGPA is 4.37 leading to Second Class Upper class of degree

In [7]:
# Bank